@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 Header Style 10
/*----------------------------------------*/

.tp-header-10{
    &-logo{
        display: flex;
        align-items: center;
        height: 60px;
        & img{
            width: 50%;
            height: auto;
            opacity: 0.8;
        }
    }
    &-menubar{
        & button{
            & span{
                height: 2px;
                width: 36px;
                display: table;
                margin: 8px 0;
                transform: translateY(5px);
                background-color: var(--tp-common-white);
            }
        }
    }
}