@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 Header Style 9
/*----------------------------------------*/

.tp-header-9{
    &-logo{
        display: flex;
        align-items: center;
        height: 60px;
        & img{
            width: 50%;
            height: auto;
            opacity: 0.8;
        }
    }
}

.tp-header-style{
    &-9{
        & .tp-header-6-menu-box{
            & span{
                color: var(--tp-common-black);
                font-family: var(--tp-ff-marcellus);
            }
        }
        & .tp-header-6-menubar{
            & span{
                background-color: var(--tp-common-black);
            }
        }
    }
}