@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 Header Style 6
/*----------------------------------------*/

.tp-header-6{
    &-logo{
        display: flex;
        align-items: center;
        height: 60px;
        & img{
            width: 50%;
            height: auto;
            opacity: 0.8;
        }
    }
    &-menu-box{
        & span{
            font-size: 18px;
            font-weight: 400;
            line-height: 14px;
            color: var(--tp-common-white);
        }
    }
    &-menubar{
        margin-left: 18px;
        & span{
            height: 2px;
            width: 36px;
            display: inline-block;
            background-color: var(--tp-common-white);
            display: table;
            margin: 8px 0;
        }
    }
}